*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondo_gasanweb_corto.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#estilo_h1_div{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: white;
    background: black;    
}
#estilo_h1_texto{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}
.no_link_h1{
    text-decoration: none;
    color: white;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.estilo_row{
    background-image: url(../img/fondo_row_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;                               /* ajusta el largo del row al contenido */
    min-height: 23em;
}
.centrar_img{       
    display: block;
}
.centrar_parr{
    text-align: justify;
}
.size_link{
    font-size: 0.4em;
    margin: 0;
}
.p_link{
    display: inline;    
}
.h2_index{
    margin-bottom: 1em;
}
.text_botones{
    padding: 1em;
}
.img_inferiores{
    margin-top: 4em;
}
.caract_footer{
    min-height: 60em;
}
.separador{
    margin-top: 6em;
}
.col_footer{
    min-height: 30em;
}